*{
    font-family: "Outfit", serif;
    padding: 0px;
    margin: 0px;
}


body{
    background-color: rgb(102, 85, 53);
    background-color: #a78d78;
}


.mycontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login-box{
    background-color: white;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -6px -6px 10px rgba(0, 0, 0, 0.2);

}

.login-box h4{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.login-box form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
}

.login-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}

.login-box form .field .btn{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(104, 104, 223);
    color: white;
    transition: .3s;
}

.login-box form .field .btn:hover{
    background-color: rgb(78, 78, 197);
}

.field a{
    align-self: flex-end;
}

.input input{
    padding: 4px;
}